.tent_jiankong{
    margin-top: .625rem;
    float: right;
    width: 8.75rem;
   
   
}
.tent_jiankong h1{
    font-size: .375rem;
    text-align: center;
}
.jiankong_2 img{
    width: 8.75rem;
    height: 7.5rem;

}
.jiankong_2{
    width: 8.75rem;
   
   
}
