.home{
    overflow: auto;
    background-color: #f2f2f2;
    height: 100%;
}
.home h1{
    text-align: center;
}
.contain{
    position: relative;
    width: 17.5rem;
    margin: 0 auto;
    
}

.jifangimg{
    width: 17.5rem;
}